.study {
    background: #FF3F3A50;
    padding: 172px 0 0 0;
}

.study__card-plays {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 40px;
}

.study__row {
    display: flex;
    justify-content: space-between;
}

.study__card-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #1E212C;
    margin-bottom: 60px;
}

.study__card-btns {
    display: flex;
    column-gap: 24px;
}

.study__card-play {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    order: 0;
    border: 1px solid #FF3F3A;
    border-radius: 4px;
    width: 148px;
    height: 52px;
}

.study__card-play2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 201px;
    height: 52px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    border: none;
}
.study__subcard{
    display: flex;
}
.study__list{
    display: flex;
    align-items: center;
}
.study__list-title{

}
