@import "study.css";
@import "header.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
button{
    cursor: pointer;
}


